{% extends "blog/base.html" %}
{% load staticfiles %}

	<div class="page-header">
		{% block header %}
			<h1><a href="/">Blog da Babi!</a></h1>
		{% endblock %}
	</div>
{% block content %}
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% for post in posts %}
					<div class="post">
						<h1><a href="{% url "blog.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
						<h5>published: {{ post.published_date }}</h5>
						<h4>{{ post.text|linebreaks }}</h4>
					</div>
				{% endfor %}
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-3" id="sidebar">
				<h2>Sobre mim</h2>
				<p>Sou graduanda em Engenharia civil na UNICAMP, Pythonista, membro do Pyladies Campinas, programadora nas horas vagas</p>
				<br>
				<img class="about_image" src="{% static "img/oculos.svg" %}" width="100%">
			</div>
		</div>
	</div>
{% endblock content %}
